body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Droid Sans", "Arial", sans-serif;
}

.puzzle-grid {
  border: 1px solid black;
  border-bottom-width: 2px;
  display: inline-grid;
}

.puzzle-cell {
  font-size: 20px;
  border: 1px solid black;
  width: 40px;
  height: 20px;
  line-height: 1;
  padding: 0.5em 0;
  text-align: center;
  display: inline-block;
  margin-left: -1px;
}

.puzzle-cell:first-child {
  margin-left: 0;
}

.puzzle-row {
  display: block;
  margin-bottom: -4px;
}