body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica", 
    "Droid Sans", "Arial", sans-serif;
}

a {
  color: #000;
}

.btn {
  background-color: rgba(34, 188, 172);
  padding: 6px 8px;
  color: #fff;
  text-decoration: none;
  margin: 2px 5px;
  border-radius: 4px;
}

.inline > * {
  display: inline-block;
}

.container {
  width: auto;
  display: inline-block;
  position: relative;
}

.puzzle-container {
  position: relative;
}

.puzzle-grid {
  border: 1px solid black;
  border-bottom-width: 2px;
  display: inline-grid;
}

.puzzle-row {
  display: block;
  margin-bottom: -5px;
}

.puzzle-cell {
  font-size: 20px;
  border: 1px solid black;
  width: 40px;
  height: 20px;
  line-height: 1;
  padding: 0.5em 0;
  text-align: center;
  display: inline-block;
  margin-left: -1px;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

.puzzle-cell:focus {
  outline: none;
}

.puzzle-cell:first-child {
  margin-left: 0;
}

.puzzle-cell-x {
  background-color: black;
}

.puzzle-cell.active {
  border-color: rgb(64, 224, 208);
  box-shadow: 0 0 4px 3px rgb(64, 224, 208);
  z-index: 100;
}

.puzzle-cell.highlighted {
  border-color: rgb(34, 188, 172);
  background-color: rgba(64, 224, 208, 0.4);
  z-index: 99;
}

.puzzle-cell.marked{
  background-color: #bbb
}

.puzzle-cell.highlighted.marked{
  background-color: #c1d6d4;
}

.puzzle-cell.active.highlighted {
  background-color: white;
}

.puzzle-cell.active.highlighted.marked {
  background-color: #ddd;
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 1;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  
}

.puzzle-cell .label {
  font-size: 10px;
  border: 0;
  position: absolute;
  top: 2px;
  left: 3px;
}

.puzzle-cell .input {
  position: absolute;
  width: 100%;
  text-align: center;
}

.title {
  font-family: 'Laila', serif;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #ddd;
}

.title a {
  text-decoration: none;
}

.accent-text {
  color: rgb(34, 188, 172);
}

.accent-text-alt {
  color: #6a59b9;
}

.puzzle-info {
  margin: 10px 0 5px 0;
}

.menu {
  position: absolute;
  top: -32px;
  right: -20px;
}

.menu a {
  padding: 8.5px;
  text-decoration: none;
  position: relative;
}

.menu a:hover {
  color: rgb(34, 188, 172);
}

.subicon > svg + svg {
  position: relative;
  left: -18px;
  top: -3px;
  margin-right: 0px;
}

.noopacity {
  opacity: 0; 
}

.current-clues {
  position: absolute;
  top: 0;
  right: -420px;
  width: 400px;
}

.current-clues > div {
  min-height: 300px;
}

.current-clues h3 {
  margin: 5px 0;
}

.current-clues .current > span {
  border: 1px solid rgba(34, 188, 172,0.5);
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
}

.current-clues .current > span:not(:first-child) {
  border-left: 0;
}

.current-clues .current > span.emptycell {
  color: rgba(0,0,0,0)
}

.current-clues .suggestions > span {
  height: 21px;
  width: 21px;
  text-align: center;
  display: inline-block;
  color: #777;
}
.current-clues .suggestions > span:first-child {
  margin-left: 1px;
}


.pbtip {
  display: none;
}

*:hover > .pbtip {
  display: inline-block;
  position: absolute;
  top: 39px;
  left: 3px;
  border: 4px solid rgb(34, 188, 172);
  padding: 6px 8px 8px 8px;
  background-color: rgba(255,255,255,0.92);
  z-index: 101;
  color: #000;
  min-width: 30px;
  width: auto;
  margin-right: -300px;
}

*:hover > .pbtip.stip {
  width: 40px;
  left: -10px;
  text-align: center;
}

*:hover > .pbtip:after, *:hover > .pbtip:before   {
	bottom: 100%;
	left: 14px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

*:hover > .pbtip.stip:after, *:hover > .pbtip.stip:before   {
	left: 50%;
}

*:hover > .pbtip:after  {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
*:hover > .pbtip:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: rgb(34, 188, 172);
	border-width: 16px;
	margin-left: -16px;
}

input.inline-content-editable, .fakeinput {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica", 
    "Droid Sans", "Arial", sans-serif;
  padding: 1px 2px;
  min-width: 30px;
  border: 0px;
  border-bottom: 4px solid transparent;
}

input.inline-content-editable:focus {
  border-bottom-color: rgb(34, 188, 172);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
}

select {
  font-size: 14px;
  outline: none;
  box-shadow: none;
  border: none;
  padding: 4px 2px;
  border-bottom: 2px solid rgb(34, 188, 172);
}
